a {
 color: rgb(0, 0, 0);
}

h1 { 
    text-align: center;
    color: #ffffff;
    text-shadow: black 2px 2px 5px;
    font-size:40px;
    font-family: 'Times New Roman', serif;
}

h3,h4 {
    text-align: center;
    color: #ffffff;
    text-shadow: black 2px 2px 5px;
    font-size:25px;
    font-family: 'Times New Roman', serif; 
}

body {
    background-image: url(Fotos/fondos.PNG);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}

.ind {
color: black;
font-family: 'Times New Roman', serif;
padding: 10px;
background-color: #376110;
text-align: center;

}
.ind img {
    height: 100px;
    height: 290px;
    margin-left: 20px;
}

.container {
    width: 100%;
    padding:  0 15px;
    margin: 0 auto;
}

.row {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.col {
    flex: 1;
    margin: 10px;
    padding: 20px;
    text-align: center;
    border: 1px solid #376110;
}

@media (max-width: 768px) {
    .col {
        flex:1 1 100%;
    }
}